@font-face {
    font-family: FuturaNewBook;
    src: url("FuturaNewBook.otf");
}
@font-face {
    font-family: FuturaNewBold;
    src: url("FuturaNewBold.otf");
}
@font-face {
    font-family: FuturaNewDemi;
    src: url("FuturaNewDemi.otf");
}
@font-face {
    font-family: FuturaNewMedium;
    src: url("FuturaNewMedium.otf");
}
@font-face {
    font-family: MyriadPro-Bold;
    src: url("MyriadPro-Bold.otf");
}
@font-face {
    font-family: MyriadProRegular;
    src: url("MyriadProRegular.otf");
}

body {
    background: #efefef;
    font-family: FuturaNewBook !important;
}

.landingpage {
    background-image: url('../assets/landingpage.png');
    position: fixed;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: none;
    width: 100%;
    z-index: 99999;
}

body input+label {
    position: fixed;
    top: 25px;
    left: 6%;
    height: 24px;
    width: 35px;
    z-index: 99999;
}

.burger-spans span {
    position: absolute;
    height: 3px;
    margin-top: -1px;
    left: 0;
    display: block;
    background: white;
    transition: .5s;
}

#burger {
    position: absolute;
    opacity: 0;
}

.first {
    top: 3px;
    background: #f2bc44 !important;
    width: 50%;
}

.second {
    top: 11px;
    width: 75%;
}

.third {
    top: 20px;
    width: 100%;
}

body label:hover {
    cursor: pointer;
}

body input:checked+label span {
    opacity: 0;
    top: 50%;
}

body input:checked+label span:first-child {
    background: white !important;
    opacity: 1;
    transform: rotate(405deg);
    width: 100%;
}

body input:checked+label span:last-child {
    opacity: 1;
    transform: rotate(-405deg);
}

body input~nav {
    background: transparent;
    display: none;
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: .1s;
    transition-delay: .1s;
    z-index: 999;
}

body input~nav>ul {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 20%;
    right: 20%;
}

body input~nav>div {
    opacity: 0;
    transition: .5s;
    transition-delay: 0s;
}

body input:checked~nav {
    background: #f2bc44 !important;
    display: unset;
}

body input:checked~nav>div {
    opacity: 1;
    transition-delay: .5s;
}

.manage-details-bg {
    background: rgba(0, 0, 0, 0.09);
    padding: 7% 0 2% 0
}

/* Video Modal */
.video-close-btn {
    background: none;
    border: 0px;
    color: white;
    font-size: 64px;
    outline: none;
    right: 20px;
    position: absolute;
    top: -20px;
    z-index: 9999;
}

.modal-body {
    padding: 0px !important;
}

.video-modal {
    width: 100%;
    height: 100vh !important;
}

.video-modal .vjs-big-play-button {
    -webkit-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
    left: 50% !important;
    top: 50% !important;
    outline: none;
}

.modal-dialog {
    margin: 0px !important;
    height: 100% !important;
    width: 100% !important;
}

.btn-info {
    background-color: transparent !important;
    border-color: transparent !important;
    outline: none !important;
}

.video-js .vjs-tech {
    outline: none
}

.modal-header {
    padding: 0px !important;
    border: 0px !important;
}

.modal-header .close {
    color: white !important;
    position: absolute !important;
    font-size: 40px;
    right: 10px;
    opacity: 1 !important;
    outline: none;
    z-index: 999;
}
/* End of Modal Video*/

.carousel-control {
    width: 10% !important;
}
.glyphicon-chevron-right,
.glyphicon-chevron-left {
    color: #f2bc44 !important;
}
/* Menu */
.navbar-nav {
    padding: 15px 0 0 0 !important;
}
.navbar-collapse {
    padding: 0px !important;
}
.navbar-toggle {
    margin-right: 20px !important;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: black !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white !important;;
}
.navbar-default {
    position: fixed !important;
    background: #0000001a !important;
    width: 100% !important;
    z-index: 999;
    border: 0px !important;
    border-radius: 0px !important;
    margin: 0px !important;
    height: 70px !important;
}

.navbar-default .container {
    height: 70px;
    padding: 0px !important;
    width: 90% !important;
}

.navbar-default .navbar-nav>li>a {
    background-color: transparent !important;
    color: #fff !important;
    font-size: 16px;
    font-family: FuturaNewBold;
    font-weight: bold;
    padding: 10px 25px !important;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #f2bc44 !important;
}

.navbar-nav li .logo-link {
    padding: 0px !important;
}

.navbar-default .navbar-nav .active a {
    background-color: transparent !important;
    color: #f2bc44 !important;
}

.navbar-default.scrolled {
    background-color: black !important;
    transition: background-color 200ms linear;
}

.dropdown-menu {
    background-color: #f2bc44 !important;
    border: 0px !important;
    margin: 0 0 0 38px !important;
}
.dropdown-arrow {
    position: absolute;
    border-top: 15px solid transparent;
    border-bottom: 15px solid #f2bc44;
    height: 0;
    width: 0;
    border-left: 15px solid #f2bc44;
    top: -13px;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background-color: transparent !important;
}

.dropdown:hover {
    background-color: transparent !important;
}

.dropdown-menu>li>a {
    color: white !important;
    font-size: 14px;
    font-family: FuturaNewBold;
}
.dropdown-menu>li>a:hover {
    color: black !important;
}
.dropdown-menu>li>a:hover {
    background: transparent !important;
}

.notification {
    padding: 2% 5%;
}

.edit-profile,
.my-list {
    padding-left: 5% !important;
}

.edit-profile span,
.notification span,
.my-list span,
.txt-notif h3 {
    color: white;
    font-family: FuturaNewBold !important;
    font-size: 24px;
}

.mylist-border {
    border-top: 2px solid #b5a8a8b8;
    border-bottom: 2px solid #b5a8a8b8;
    padding: 10px 0
}

.logo {
    text-align: center
}

.logo img {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%);
    left: 50%;
    z-index: 99;
    top: 25px;
}

.vid-notif {
    display: inline-block;
    padding: 2% 1% 1% 5%;
}

.vid-notif img {
    border: 2px solid white;
    border-radius: 10px;
}

.txt-notif {
    display: inline-block;
    padding: 0 0 5% 1%;
}

.txt-notif h5 {
    color: white
}
.search-box {
    position: absolute;
    padding: 0 10px;
    z-index: 9;
    right: 5%;
    top: 5px;
    width: 270px;
}
.search-box a {
    float: right;
}
.search-box:hover>.search-txt {
    width: 220px;
    padding: 0 6px;
    display: inline-block;
}

.search-txt {
    border: 1px solid #f2bc44;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    padding: 6px 30px !important;
    transition: 0.4s;
    display: none;
}

.fa-2x {
    color: white
}

.login-btn {
    background: transparent;
    border: 1px solid #f2bc44 !important;
    border-radius: 8px !important;
    color: white !important;
    font-size: 16px !important;
    font-family: FuturaNewBold;
    margin-top: 5px;
    outline: none !important;
    padding: 2px 25px !important;
}
/* End of Menu */

/*  Login Modal */
.login-modal {
    width: 975px !important;
    margin: auto !important;
    top: 15% !important;
}
.modal-body {
    display: table;
}
.login-sec {
    background: black;
    color: white;
    padding: 50px !important;
}
.username-sec,
.password-sec {
    background: white;
    color: black;
    border-radius: 5px;
    margin: 20px 0  !important;
    padding: 10px !important;
}
.username-sec p,
.password-sec p {
    color: black;
    font-family: FuturaNewBook;
    font-size: 14px;
}
.registration-sec {
    background: white;
    color: black;
    padding: 50px !important;
}
.registration-title {
    color: black;
    font-family: FuturaNewBold;
    font-size: 53px;
    line-height: 1;
}
.registration-desc {
    color: #808080;
    font-family: FuturaNewMedium;
    font-size: 21px;
}
.form-control {
    background: transparent;
    border: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
}
::placeholder,
.form-control  {
    color: black !important;
    font-family: FuturaNewBold;
    font-size: 14px;
}
.login,
.register {
    width: 100%;
    outline: none;
    border: 0px;
    border-radius: 5px;
    font-size: 16px;
    font-family: FuturaNewBold;
    padding: 15px;
    margin-top: 25px;
}
.login {
    background: #f2bc44;
    color: black;
}
.register {
    background: black;
    color: #f2bc44;
}
.signin-title {
    font-family: FuturaNewBold !important;
    font-size: 21px;
    margin: 0;
    padding-bottom: 15px;
}
.remember-me {
    padding-top: 10px;
}
.need-help {
    color: white;
    float: right;
}
/* End of Login Modal */

#video-click img {
    border: 5px solid red
}

.main-video {
    height: 600px;
    object-fit: cover;
    width: 100%;
}

.titles {
    font-family: FuturaNewBold !important;
    margin-left: 5%;
}

.titles h3 {
    font-size: 30px;
    cursor: pointer;
}
.explore-all {
    color: #333;
    display: none;
    font-size: 16px;
}
.titles:hover  .explore-all {
    display: inline-block;
}
.explore-arrow {
    font-size: 18px;
    color: #333;
}

.video-desc {
    position: absolute !important;
    top: 250px;
}

.video-desc h1 {
    color: white;
    font-family: FuturaNewBold !important;
    font-size: 51px;
    padding-left: 5%;
}

.video-desc p,
.video-desc i {
    color: white;
    padding-left: 5%;
}

.video-desc p {
    font-size: 18px;
}

.play-icon {
    cursor: pointer;
    margin-top: -75px;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: 9
}

.curve-lines {
    width: 100%;
    position: absolute
}

.curve-lines .desk-line,
.curve-lines .mob-line {
    margin-top: -75px;
    position: relative;
}

.videos-details {
    display: none;
    background: #080707;
    margin: -30px 0 50px 0;
    padding: 2% 5% !important;
    text-align: center;
}

.video-click:before {
    content: "";
    display: block;
    background: url("../assets/triangle.png") no-repeat;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
}

.total-episodes {
    width: 50px;
    background: #f2bc44;
    padding: 3px 10px;
    font-weight: bold;
    float: right;
    margin-top: -40px;
    position: relative;
}

.videos-details .img-poster {
    width: 100%;
}

.videos-details h3 {
    font-weight: bold;
    color: #f2bc44;
    margin: 25px 0 0 0;
}

.videos-details h1 {
    font-size: 64px;
    color: #f2bc44;
    margin: 0
}

.videos-details p {
    color: white;
    text-align: left;
    font-size: 16px;
}

.play-mylist-btns {
    margin: 30px 0;
}

.play-mylist {
    background: #ffffff;
    border: none;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    margin: 0 5px;
    padding: 10px 20px;
}

.play-mylist:hover {
    text-decoration: none;
    color: black;
    border: 1px solid yellow;
}

.footer {
    padding: 3% 5% !important;
    background: black;
}

.footer-icons {
    color: white;
    cursor: pointer;
    padding: 10px;
}

.footer li {
    list-style: none
}

.footer li a, p {
    color: white;
    font-family: MyriadProRegular;
}
.copyright h4 {
    color: white;
    font-family: MyriadPro-Bold;
}

.copyright {
    margin: 15px;
}

.footer .rtm {
    padding: 15px 0;
}

.desk-line {
    width: 100%;
}

.mob-line {
    display: none
}

/* Video pages */
.movie-type {
    padding: 0 5% 2% 5%;
}
.video-posters {
    width: 100%;
}
.rating-border {
    -webkit-text-stroke: #f2bc44;
    -webkit-text-stroke-width: 1px;
}

.movie-type h1 {
    font-family: FuturaNewBold;
    font-size: 62px;
    color: black;
}

.date-time {
    margin-bottom: 3%;
}

.date-time .date {
    color: #666666;
    font-family: FuturaNewDemi;
    font-size: 21px;
    padding: 0 5px;
}

.date-time .duration,
.date-time .category {
    color: #666666;
    font-size: 21px;
    border-left: 3px solid #666666;
    font-family: FuturaNewDemi;
    margin-left: 15px;
    padding: 0 5px;
}

.movie-summary {
    background: #f2f2f2;
    margin-bottom: 5%;
    padding: 5% !important;
}

.synopsis {
    color: black;
    float: left;
    font-size: 18px;
    width: 50%;
}

.movie-summary i {
    color: #f2bc44;
    font-size: 27px;
}
.pages-route {
    color: black;
    width: 100%;
    background: #fbfbfb;
    border-radius: 5px;
    font-family: FuturaNewDemi;
    font-size: 21px;
    padding: 8px 20px;
}
.video-name {
    color: #f2bc44;
}
.summary {
    color: black;
    font-family: FuturaNewBold !important;
    font-size: 41px;
    float: left;
    width: 100%;
}

.summary-icons {
    text-align: center;
    padding: 25px !important;
}

.summary-icons h4 {
    color: #666666;
}
/* End of Video Pages */


/* Slick Slider */
.slider {
    width: 90%;
    margin: 20px auto;
}

.slick-initialized .slick-slide {
    margin: 0 10px;
}

.slick-slide img {
    border-radius: 5px;
}

.slick-prev:before,
.slick-next:before {
    color: #f2bc44 !important;
}

.draggable {
    padding: 0 50px 0 0 !important;
}

.slick-slide {
    outline: none !important;
    transition: all ease-in-out .3s;
}

.slick-current {
    opacity: 1;
}

.slick-next {
    right: -30px !important;
}

.slick-prev {
    left: -35px !important;
}

.slick-prev:before,
.slick-next:before {
    font-size: 25px !important;
}

.continue {
    padding-top: 10px;
}

.regular img:hover {
    cursor: pointer;
    object-fit: fill;
    transition: transform .5s ease;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
}

@media only screen and (max-device-width: 1024px) {
    .mob-line {
        display: unset
    }
    .desk-line {
        display: none
    }
    .manage-details-bg {
        padding: 15% 0 2% 0
    }
    body input:checked~nav {
        position: fixed;
        z-index: 9999;
    }
    .curve-lines img {
        width: 100%;
    }
    .video-desc {
        top: 175px;
    }
    .slick-slide {
        margin: 0px 20px;
    }
}

@media only screen and (max-device-width: 480px) {
    .dropdown-menu {
        margin: 0px !important;
    }
    .dropdown-arrow {
        display: none;
    }
    .dropdown-menu li {
        text-align: center;
    }.navbar .container {
        width: 100% !important;
        padding: 0px !important;
    }
    .search-box {
        position: unset;
    }
    .navbar-collapse {
        text-align: center;
    }
    .navbar-default {
        height: 50px !important;
    }
    .navbar-right {
        padding-top: 0px !important;
    }
    .navbar-form {
        margin: 0px !important;
        padding: 0px !important;
    }
    .navbar-default .navbar-form {
        border: none !important;
    }
    .navbar-default .navbar-collapse {
        background: black !important;
        margin: 0px !important;
        width: 100% !important;
    }
    .slick-slide img {
        height: 180px;
    }
    .play-icon {
        margin-top: -30px;
    }
    .play-icon img {
        height: 40px;
    }
    .video-desc {
        top: 60px;
    }
    .video-desc h1 {
        font-size: 27px;
    }
    .video-desc p {
        font-size: 13px;
    }
    .video-desc .fa {
        font-size: 18px !important;
    }
    .slick-prev {
        left: -18px !important;
    }
    .slick-next {
        right: -18px !important;
    }
    .slick-prev:before,
    .slick-next:before {
        font-size: 18px !important;
    }
    .curve-lines .mob-line {
        margin-top: -50px;
    }
}